/* main card style */
.main-card{
    width: 50%;
    height: 85%;
    display: block;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;  
}

/* add shadow to the main card */
.main-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
}

/* form field style */
mat-form-field{
    width: 80%;
    margin: 0 10%;
}

/* inputs field number style */
input.field-number::-webkit-outer-spin-button,
input.field-number::-webkit-inner-spin-button {
  display: none;
}

input.field-number {
  -moz-appearance: textfield;
}

/* predict button style */
button{
    margin: 0 10%;
}