/* Give different colors based on the air quality level */
.good .mat-mdc-dialog-container .mdc-dialog__surface {
	background-color: #abd162;
}

.good
	.mat-mdc-dialog-container
	.mdc-dialog__surface
	.air-quality-level
	.air-quality-level-number {
	color: #577c00;
}

.moderate .mat-mdc-dialog-container .mdc-dialog__surface {
	background-color: #f7d460;
}

.moderate
	.mat-mdc-dialog-container
	.mdc-dialog__surface
	.air-quality-level
	.air-quality-level-number {
	color: #9f811e;
}

.unhealthy-for-sensitive-groups .mat-mdc-dialog-container .mdc-dialog__surface {
	background-color: #fc9956;
}

.unhealthy-for-sensitive-groups
	.mat-mdc-dialog-container
	.mdc-dialog__surface
	.air-quality-level
	.air-quality-level-number {
	color: #965c34;
}

.unhealthy .mat-mdc-dialog-container .mdc-dialog__surface {
	background-color: #f6676b;
}

.unhealthy
	.mat-mdc-dialog-container
	.mdc-dialog__surface
	.air-quality-level
	.air-quality-level-number {
	color: #a73538;
}

.very-unhealthy .mat-mdc-dialog-container .mdc-dialog__surface {
	background-color: #a37db8;
}

.very-unhealthy
	.mat-mdc-dialog-container
	.mdc-dialog__surface
	.air-quality-level
	.air-quality-level-number {
	color: #603479;
}

.hazardous .mat-mdc-dialog-container .mdc-dialog__surface {
	background-color: #a07684;
}

.hazardous
	.mat-mdc-dialog-container
	.mdc-dialog__surface
	.air-quality-level
	.air-quality-level-number {
	color: #74394d;
}

/* Air quality level and image */
.mat-mdc-dialog-content {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/* air quality level title */
h1.air-quality-prediction-title.mat-mdc-dialog-title {
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
}

.date {
	display: block;
}

/* air quality level text */
.air-quality-level {
	font-size: 1.7em;
	color: white;
	text-align: center;
	/*line-height: 34px;*/
}

/* air quality image */
.air-quality-image {
	width: 120px;
}

.air-quality-level-number {
	font-size: 1.8em;
	font-family: "Merriweather", serif;
}
